* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.wrap {
    width: 50%;
    height: 600px;
    margin: 3.5% auto 0 auto;
    background-color: white;
    border: 1px solid whitesmoke;
    box-shadow: 0 19px 38px rgba(99, 98, 98, 0.1), 0 15px 12px rgba(99, 98, 98,0.1);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
article {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 55px;
}
select, input, textarea {
    display: inline-block;
    width: 65%;
    font-size: 1.2rem;
    padding: 5px 0 5px 3px;
}
input::placeholder{
    padding: 5px 0 5px 3px;
}
textarea::placeholder{
    padding: 3px 0 3px 3px;
}
body {
    background-color: #f5f5f7;
}
h2{
    text-align: center;
    margin: 6% 0 7% 0;
    font-size: 2.5rem;
    color: rgb(11, 207, 11);
}
#bottom{
    width:490px;
    margin: -25px auto 0 auto;
    text-align: right;
}
#border-top{
    height: 10px;
    background-color: rgb(11, 207, 11);
}
#submit-btn{
    background-color: rgb(11, 207, 11);
    border-style: none;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
    border: 2px solid rgb(11, 207, 11);
}
#submit-btn:hover{
    cursor: pointer;
    background-color: white;
    color: rgb(11, 207, 11);
    border: 2px solid rgb(11, 207, 11);
    transition: 0.2s;
}
textarea {
    resize: none;
}