@media screen and (max-width: 1600px) {
  * {
    transition: all 1s;
  }
  header {
    width: 100%;
    margin: 0 auto 3% auto;
    text-align: center;
  }
  ul {
    width: 80%;
  }
  h1 {
    margin: 2% auto;
  }
}

@media screen and (max-width: 1300px) {
  * {
    transition: all 1s;
  }
  .card {
    width: 50%;
    height: 401px;
  }
  embed {
    width: 80%;
    height: 240px;
  }
  section {
    margin-bottom: 80px;
    padding: 0 10px;
  }
}

@media screen and (max-width: 900px) {
  * {
    transition: all 1s;
  }
  header {
    margin: 5% auto;
  }
  nav {
    display: none;
  }
  .burger {
    display: block;
  }
  header > div {
    position: relative;
  }
  #menu {
    display: block;
    border-style: none;
    font-size: 3rem;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    right: 2.5%;
    top: 20%;
  }
  #menu i {
    text-align: right;
  }
  .list-group {
    display: none;
  }
  .show {
    display: block;
  }
}
