* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  color: black;
}
body {
  background-color: #f5f5f7;
}
span {
  display: block;
  text-align: left;
  width: 80%;
  margin: 0 auto 6px auto;
}
.card {
  width: 23%;
  margin: 0 1%;
  /* height: 86.1%; */
  height: 501px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  padding-top: 20px;
  transition: ease-in-out 0.5s;
  font-size: 0;
  border: 1px solid whitesmoke;
  box-shadow: 0 19px 38px rgba(99, 98, 98, 0.1),
    0 15px 12px rgba(99, 98, 98, 0.1);
}
.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.card a {
  width: 100%;
  height: 100%;
  color: black;
}
.title {
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
.content {
  height: 30px;
  font-size: 14px;
}
embed {
  width: 80%;
  height: 340px;
  margin: 4% 0 10% 0;
  border-radius: 20px;
}
.wrap {
  width: 100%;
  display: flex;
}
section {
  margin-bottom: 100px;
  padding: 0 5%;
}
h3 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
}
.subject {
  font-size: 10px;
  color: #a7a6a6;
}
header {
  width: 100%;
  margin: 0 auto 3% auto;
  text-align: center;
}
ul {
  display: flex;
  margin: 1.5% auto;
  width: 50%;
  justify-content: space-around;
  font-size: 1.5rem;
  font-weight: bold;
}
ul li,
h3 {
  color: rgb(11, 207, 11);
}
h1 {
  font-size: 3rem;
  color: rgb(11, 207, 11);
  margin: 3% auto;
}
hr {
  height: 1px;
  background-color: #ccc;
  color: #ccc;
}
